<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <%- include("../includes/head") -%>
</head>
<body>
    <%- include("../includes/navigation") -%>
    <main>
        <div class="container mt-4">
            <h1 class="text-center">Bienvenue <%= user.username %></h1>
            <div class="card mx-auto" style="width: 45rem;">
                <div class="card-body">
                    <h5 class="card-title">Informations utilisateur</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Nom : <%= user.lastname %></li>
                        <li class="list-group-item">Prénom : <%= user.firstname %></li>
                        <li class="list-group-item">Email : <%= user.email %></li>
                    </ul>
                    <a href="/user/update/<%= user._id %>" class="btn btn-primary mt-2">Modifier</a>
        
                    <form action="/user/delete/<%= user._id %>" method="POST" id="deleteUserForm" class="mt-2">
                        <button type="submit" class="btn btn-danger">Supprimer l'utilisateur</button>
                    </form>
        
                    <script src="/js/deleteUser.js"></script>
                </div>
            </div>
        </div>
        
    </main>
</body>
</html>