<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <main>
        <%- include("../includes/navigation") -%>
        <h1>Mettre a jours vos infos</h1>
        <form action="/user/update/<%= user._id %>" method="post">
            <label for="username">Pseudo:</label>
            <input type="text" id="username" name="updatedUserData[username]" value="<%= user.username %>" required>
    
            <label for="lastname">Nom:</label>
            <input type="text" id="lastname" name="updatedUserData[lastname]" value="<%= user.lastname %>" required>
    
            <label for="firstname">Prénom:</label>
            <input type="text" id="firstname" name="updatedUserData[firstname]" value="<%= user.firstname %>" required>
    
            <input type="submit" value="Modifier"/>
        </form>
    </main>
</body>
</html>