<!DOCTYPE html>
<html>
  <head>
    <title>Liste des produits</title>
    <link rel="stylesheet" href="css/index.css">
    <!-- <link rel="stylesheet" href="css/catalogue.css"> -->
  </head>
  <body>
    <%- include("../includes/navigation") -%>
    <!--  <h1>Liste des produits</h1> -->

    <% if (message.success) { %>
      <div class="alert alert-success">
        <%= message.success %>
      </div>
    <% } %>
    <% if (message.error) { %>
      <div class="alert alert-danger">
        <%= message.error %>
      </div>
    <% } %>
    <div id="successMessage"></div>
    <% if (products.length > 0) { %>
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <!--{# row justify-content-md-center #} -->
        <div class='row justify-content-md-center row-cols-1 row-cols-md-2 g-4 teste2'>
          <% products.forEach(product => { %>
          <div class="card mx-3 col-md-3 col-10 mt-5 pt-4  ">
              <div class="d-flex sale ">
                  <div class="btn">SALE</div>
              </div>
              <a class="detail" href="/products/detail/<%= product._id %>">
                <img class='mx-auto img-thumbnail'
                    src="<%= product.image %>"
                    width="150" height="150"/>
                <div class="card-body text-center mx-auto">
                    <h5 class="card-title"><%= product.name %></h5>
              </a>
                  <p class="card-text"><%= product.price %></p>
                  <% try { %>
                      <% if (user && user.access === "admin") { %>
                          <a href="/products/update/<%= product._id %>" class="section2_btn btn22">Modifier</a>
                          <a href="javascript:void(0);" class="section2_btn btn11 delete-product" data-product-id="<%= product._id %>">Supprimer</a>
                      <% } %>
                  <% } catch (e) {} %>
              </div>
            </div>
            <% }); %>
        </div>
      </div>    
    <% } else { %>
      <p>Aucun produit n'est disponible pour le moment.</p>
    <% } %>
    <% try { %>
      <% if (user && user.access === "admin") { %>
        <a class="btn-ajouter" href="/products/add">Ajouter un produit</a>
    <% } %>
    <% } catch (e) {} %>

    <script src="/js/deleteProduct.js"></script>
  </body>
</html>