

<!DOCTYPE html>
<html>
  <head>
    <title>Modifier un produit</title>
  </head>
  <body>
    <h1>Modifier un produit</h1>
    <form id="updateProductForm"  data-product-id="<%= product._id %>">
      <label for="name">Nom du produit</label>
      <input type="text" name="name" id="name" value="<%= product.name %>" required>

      <label for="category">Catégorie</label>
      <input type="text" name="category" id="category" value="<%= product.category %>">

      <label for="description">Description</label>
      <textarea name="description" id="description"><%= product.description %></textarea>

      <label for="image">Image (URL)</label>
      <input type="text" name="image" id="image" value="<%= product.image %>">

      <button type="submit">Mettre à jour</button>
    </form>

    <div id="errorMessage"></div>

    <script src="/js/updateProduct.js"></script>
  </body>
</html>
